backoff==1.8.0
coverage==4.5.3
flake8==3.7.7
gevent==1.4.0
greenlet==0.4.15
idna==2.8
iso8601==0.1.12
munch==2.3.2
pathlib==1.0.1
py==1.10.0
pytest-cov==2.6.1
pytest-mock==1.10.3
pytest==4.4.0
requests==2.21.0
simplejson==3.16.0
six==1.12.0
urllib3==1.24.2

#Only for python3.6
dataclasses==0.6 ; python_version == '3.6'
